<div>
  <button (click) = "logout()">Logout</button>
</div>

<add-form (addUser) = "optimisticAdd($event)" (addUserPs) = "pessimisticAdd()"></add-form>
<br>
<button class="btn btn-info" [routerLink] = "['/userfire']">Fire Base</button>
<h2>
  List of users:
</h2>
<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of usersKeys">
    <button class="btn btn-danger" (click) = "deleteUser(key)">Delete</button>
    <button class="btn btn-info" [routerLink] = "['/update-form', key]" (click) = "updateUser(key)">Update</button>
    {{'user number '+key+' '+users[key].name +" "+ users[key].phonenumber}}
  </li>
</ul>
