<h2>Update user {{user?.id}}: </h2>
<form [formGroup] = "updateform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name="username" id="name" class="form-control" formControlName = "name"  value="{{name}}" [(ngModel)]="name">
  </div>
  <div>
    <label for="phonenumber"></label>
    <input type="text" name="phonenumber" id="phonenumber" class="form-control" formControlName = "phonenumber"  value="{{phonenumber}}" [(ngModel)]="phonenumber">
  </div>
  <br>
  <input type="submit" value="Updat user" class="btn btn-primary">
</form>